*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
    
}
/* подключение шрифта Metro */
@font-face {
    font-family:"Metro";
    src: local("Metro"), 
         local("Metro"), 
  }

  body {
    font-family: Metro, sans-serif;
    background-color: #2b2b2b;
    color: #e9784b;
  }

a{
    text-decoration: none ;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    max-width: 1650px;
    margin: 0  auto;
    background-color: #181818de;
    text-decoration: none;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #2b2b2b;
    background: #181818 ;
    width: 100%;
    padding: 10px ;
}

.menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.menu-item{
    position: relative;
    padding: 0 3em ;

}

.menu-item a{
    text-decoration: none;
    color: #B96B85 ;
}

.menu-item a:hover{
    text-decoration: none;
    color: #eb81a4 ;

}





main{
    max-width: 1650px;
    padding: 25px;
    margin: 0 auto;

}


.main-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;


}

.left-section{
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;

    
}

.advantages{
    list-style: none;
    padding: 0;

}

.advantages-item{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

}



.right-section{
    max-width: 50%;

}


.button{
    padding: 15px 20px ;
    border: 5px solid #000000;
    color: #ffff;
    background-color: #e9784b;
    
}

.botomm{
    text-align: center;
}


.chto-to{
    text-align: center;
}


